/.idea/
/target/

/*/target/

/logs/

/.settings
*/.settings
.classpath
.project
.DS_Store


# maven ignore
target/
logs/

# eclipse ignore
.settings/


# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

*.logs
